wandb
datasets
tqdm
tiktoken
transformers
deepspeed
openai
PyYAML
accelerate
einops
evaluate
peft
protobuf
scikit-learn
scipy==1.8.0
sentencepiece
fire
bs4
zenhan
mecab-python3
pyknp
langchain
sentence_transformers
faiss-gpu
python-dotenv
ipykernel
jupyter
jupyterlab
numpy==1.26.4
transforms3d==0.4.2
gradio
loguru
langchain_openai
langchain_anthropic
langchain_groq
SpeechRecognition
